# ------------------------------------------------------------------------- 
# Python (General) 
# ------------------------------------------------------------------------- 
__pycache__/ 
*.pyc 
*.pyd 
*.so 
.Python 
env/ 
venv/ 
 
# ------------------------------------------------------------------------- 
# Gestión de Dependencias (Poetry) 
# ------------------------------------------------------------------------- 
.venv/ 
 
# ------------------------------------------------------------------------- 
# Bases de Datos y Datos 
# ------------------------------------------------------------------------- 
*.sqlite 
/db/*.db 
/descargas/ 
 
# ------------------------------------------------------------------------- 
# Herramientas y Cachés 
# ------------------------------------------------------------------------- 
.ruff_cache/ 
.mypy_cache/ 
.pytest_cache/ 
pip-log.txt 
 
# ------------------------------------------------------------------------- 
# Editores y IDEs 
# ------------------------------------------------------------------------- 
.idea/ 
.vscode/ 
*.code-workspace 
